# Supabase (client-safe)
NEXT_PUBLIC_SUPABASE_URL=https://sngqtetiwudbwzxughtj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNuZ3F0ZXRpd3VkYnd6eHVnaHRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NzEyMjEsImV4cCI6MjEwNDQ0NzIyMX0._T8iIegC9fyGG3hT9bwRzUz5K2F5ql4p-qbQI1wEkfc

# Supabase (server-only)
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
